%default-title {
	font-family: $base-font-family;
	text-transform: uppercase;
	margin: 0;
}

%default-headline {
	font-family: $base-font-family;
	font-size: 2em;
	margin: 0;
}

%default-copy {
	p {
		font-family: $base-font-family;
		margin: 0;
	}
}