<article class="test-group--layout">
    {%- if title is not empty %}
        <header class="test-group-header">
            {% include "../components/_header.twig" with {
                "title": title,
                "headline": headline
            } only %}
        </header>
    {% endif %}
    {% if content is not empty %}
        <div class="test-group-content">
            {% include "../components/_copy.twig" with { "content": content } only %}
        </div>
    {% endif %}
    {% if cta is not empty %}
        <footer class="test-group-footer">
            {% include "../components/_button.twig" with cta only %}
        </footer>
    {% endif %}
</article>
