@import "default";

body { margin: 0; }

// Custom styles
.test-button__link {
  background-color: #545454;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.8);
  font-family: sans-serif;
  padding: 5px 10px;
  text-decoration: none;
  transition: all 0.1s linear;

  &:hover {
    background-color: #171717;
    color: rgba(255, 255, 255, 1);
  }
}

.test-header-headline {
  @extend %default-headline;
}

.test-copy--component {
  small {
    position: relative;
    text-decoration: line-through;

    &:hover {
      text-decoration: none;

      &::after {
        bottom: 100%;
        content: "haha jk";
        left: 50%;
        position: absolute;
        transform: translate3d(-50%, 0, 0);
      }
    }
  }

  a,
  a:visited {
    color: rgba(0, 0, 255, 0.75);
    text-decoration: none;

    &:hover {
      color: rgba(0, 0, 255, 1);
      text-decoration: underline;
    }
  }
}

.flip__container {
  perspective: 1000px;
}

.flip__flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip__flipper--flipped {
  transform: rotateY(180deg);
}

.flip__side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;

  &:nth-child(1) {
    z-index: 2;
    transform: rotateY(0deg);
  }

  &:nth-child(2) {
    transform: rotateY(180deg);
  }
}
