{% if href and text %}
	<div class="test-button--component">
    <a class="test-button__link js-flip-button"{% if href %} href="{{ href }}"{% endif %}{% if title %} title="{{ title }}"{% endif %}>
      {{ text }}
    </a>
  </div>
{% endif %}
